.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    font-size: 1.2rem;
    padding: 20px;

}

.header ul, li, p{
    color: white;;
    list-style: none;
}

.Menu {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    margin-right: 20px;

}

.Menu li {
    margin-left: 20px;
    display: block;
    padding: 10px;
}

.Menu li a {
    text-decoration: none;
    color: white;
}

h1 {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.text {
    margin: 20px;
    height: 100px;
    width: 500px;
    
}

.text p {
    margin-bottom: 20px;
    color: black;
    text-align: left;
}

.div {
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin-top: auto;
    padding: 16px;
    background-color: black;
    border: 1px solid #eeeeee;
    color: white;
    font-size: 12px;
    position:absolute;
	bottom:0;
	width: 98.2%;
}

